body{
  background-image: url("./components/Images/notes.jpg");
  background-size:cover;
}
.main{
  max-width: 500px;
  /* margin: 0px auto; */
  padding: 0px 15px;
  min-height: 100vh;
}

.header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  /* text-align: center; */
}
.title{
  color:greenyellow;
  font-size: 35px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 50px;
  
  
}

.notes{
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, minmax(340px, 1fr));
  }